html, body {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

table {
  float: left;
  border: 1px solid black;
}

td {
  border: 1px solid black;
  width: 200px;
}

input {
  width: 100%;
}

#attributes {
  display: inline-block;
}

#rooms {
  display: inline-block;
}

.room {}

.room td {
  width: 110px;
}

#house-attribute-table {}

#fees-attribute-table {}